NEXT_PUBLIC_SITE_URL=https://actuallydeals.com
NEXT_PUBLIC_AMAZON_AFFILIATE_TAG=
NEXT_PUBLIC_WALMART_AFFILIATE_URL=
NEXT_PUBLIC_TARGET_AFFILIATE_URL=
NEXT_PUBLIC_BEST_BUY_AFFILIATE_URL=
NEXT_PUBLIC_HOME_DEPOT_AFFILIATE_URL=
NEXT_PUBLIC_AFFILIATE_REDIRECT_TEMPLATE=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
